CapaIntegracion/Connected Services/ServicioMarca/ServicioMarca.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AgregarMarca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="tns:Marca" />
            <s:element minOccurs="0" maxOccurs="1" name="Remitente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Origen" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Marca">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Logo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AgregarMarcaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarMarcaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerMarca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Remitente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Origen" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerMarcaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerMarcaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarMarca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="tns:Marca" />
            <s:element minOccurs="0" maxOccurs="1" name="Remitente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Origen" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarMarcaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarMarcaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarMarca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Remitente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Origen" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarMarcaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarMarcaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AgregarMarcaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarMarca" />
  </wsdl:message>
  <wsdl:message name="AgregarMarcaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerMarcaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerMarca" />
  </wsdl:message>
  <wsdl:message name="ObtenerMarcaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarMarcaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarMarca" />
  </wsdl:message>
  <wsdl:message name="ActualizarMarcaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarMarcaSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarMarca" />
  </wsdl:message>
  <wsdl:message name="EliminarMarcaSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarMarcaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioMarcaSoap">
    <wsdl:operation name="AgregarMarca">
      <wsdl:input message="tns:AgregarMarcaSoapIn" />
      <wsdl:output message="tns:AgregarMarcaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarca">
      <wsdl:input message="tns:ObtenerMarcaSoapIn" />
      <wsdl:output message="tns:ObtenerMarcaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarMarca">
      <wsdl:input message="tns:ActualizarMarcaSoapIn" />
      <wsdl:output message="tns:ActualizarMarcaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMarca">
      <wsdl:input message="tns:EliminarMarcaSoapIn" />
      <wsdl:output message="tns:EliminarMarcaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioMarcaSoap" type="tns:ServicioMarcaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarMarca">
      <soap:operation soapAction="http://tempuri.org/AgregarMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarca">
      <soap:operation soapAction="http://tempuri.org/ObtenerMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarMarca">
      <soap:operation soapAction="http://tempuri.org/ActualizarMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMarca">
      <soap:operation soapAction="http://tempuri.org/EliminarMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioMarcaSoap12" type="tns:ServicioMarcaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarMarca">
      <soap12:operation soapAction="http://tempuri.org/AgregarMarca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarca">
      <soap12:operation soapAction="http://tempuri.org/ObtenerMarca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarMarca">
      <soap12:operation soapAction="http://tempuri.org/ActualizarMarca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMarca">
      <soap12:operation soapAction="http://tempuri.org/EliminarMarca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioMarca">
    <wsdl:port name="ServicioMarcaSoap" binding="tns:ServicioMarcaSoap">
      <soap:address location="https://serviciowebtienda20230326235427.azurewebsites.net/ServicioMarca.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioMarcaSoap12" binding="tns:ServicioMarcaSoap12">
      <soap12:address location="https://serviciowebtienda20230326235427.azurewebsites.net/ServicioMarca.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>