CapaIntegracion/Connected Services/ServicioGenerales/ServicioGenerales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubirImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orden" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="archivoB" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Remitente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Origen" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubirImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubirImagenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImagenExiste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Remitente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Origen" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImagenExisteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImagenExisteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubirImagenSoapIn">
    <wsdl:part name="parameters" element="tns:SubirImagen" />
  </wsdl:message>
  <wsdl:message name="SubirImagenSoapOut">
    <wsdl:part name="parameters" element="tns:SubirImagenResponse" />
  </wsdl:message>
  <wsdl:message name="ImagenExisteSoapIn">
    <wsdl:part name="parameters" element="tns:ImagenExiste" />
  </wsdl:message>
  <wsdl:message name="ImagenExisteSoapOut">
    <wsdl:part name="parameters" element="tns:ImagenExisteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioGeneralesSoap">
    <wsdl:operation name="SubirImagen">
      <wsdl:input message="tns:SubirImagenSoapIn" />
      <wsdl:output message="tns:SubirImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImagenExiste">
      <wsdl:input message="tns:ImagenExisteSoapIn" />
      <wsdl:output message="tns:ImagenExisteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioGeneralesSoap" type="tns:ServicioGeneralesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubirImagen">
      <soap:operation soapAction="http://tempuri.org/SubirImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImagenExiste">
      <soap:operation soapAction="http://tempuri.org/ImagenExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioGeneralesSoap12" type="tns:ServicioGeneralesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubirImagen">
      <soap12:operation soapAction="http://tempuri.org/SubirImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImagenExiste">
      <soap12:operation soapAction="http://tempuri.org/ImagenExiste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioGenerales">
    <wsdl:port name="ServicioGeneralesSoap" binding="tns:ServicioGeneralesSoap">
      <soap:address location="https://serviciowebtienda20230326235427.azurewebsites.net/ServicioGenerales.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioGeneralesSoap12" binding="tns:ServicioGeneralesSoap12">
      <soap12:address location="https://serviciowebtienda20230326235427.azurewebsites.net/ServicioGenerales.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>